.side
  .side-header
    .side-items
      .side-items__name
        masa
      .side-items__icon
        = link_to "#", class: "side-btn" do
          = icon('far', 'edit', class: "side-btn__icon")
        = link_to "#", class: "side-icon" do
          = icon('fas', 'cog', class: "side-btn__icon")
  .side-groups
    .group
      .group__group-name
        techcamp
      .group__group-message
        まだメッセージがありません